<a href="https://colab.research.google.com/github/thimaporn-r/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59กับ23.00-23.59 \\
เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [2]:
import pandas as pd

In [9]:
data1 =pd.read_csv('/content/search_request.csv')
data1

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
327499      327506  0279001e-b4c2-4e85-954f-9eb07fbebe2d  ...  13.806629  100.572303
327500      327507  fb0978f2-c84c-478f-ac91-3a876ae01fb7  ...  14.467159  100.122400
327501      327508  6777dc50-1332-40de-99da-7d9b98c1eb48  ...  13.916331  100.399113
327502      327509  e4ef1f9d-38c7-4c94-9953-a2781e10486d  ...  13.647345  100.681026
327503      327510  fc31d2e4-900f-4ccf-8f6c-9867d5b2d0c1  ...        NaN         NaN

[327504 rows x 10 columns]

In [10]:
from datetime import datetime

In [11]:
data1.columns = [i.strftime('%Y-%m-%d')if isinstance(i,datetime)else i for i in data1.columns]
data1

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
327499      327506  0279001e-b4c2-4e85-954f-9eb07fbebe2d  ...  13.806629  100.572303
327500      327507  fb0978f2-c84c-478f-ac91-3a876ae01fb7  ...  14.467159  100.122400
327501      327508  6777dc50-1332-40de-99da-7d9b98c1eb48  ...  13.916331  100.399113
327502      327509  e4ef1f9d-38c7-4c94-9953-a2781e10486d  ...  13.647345  100.681026
327503      327510  fc31d2e4-900f-4ccf-8f6c-9867d5b2d0c1  ...        NaN         NaN

[327504 rows x 10 columns]

In [12]:
dataA = data1[data1['search_timestamp']>='11:00:00']
dataA

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
327499      327506  0279001e-b4c2-4e85-954f-9eb07fbebe2d  ...  13.806629  100.572303
327500      327507  fb0978f2-c84c-478f-ac91-3a876ae01fb7  ...  14.467159  100.122400
327501      327508  6777dc50-1332-40de-99da-7d9b98c1eb48  ...  13.916331  100.399113
327502      327509  e4ef1f9d-38c7-4c94-9953-a2781e10486d  ...  13.647345  100.681026
327503      327510  fc31d2e4-900f-4ccf-8f6c-9867d5b2d0c1  ...        NaN         NaN

[327504 rows x 10 columns]